@mixin shadow($v-shadow, $blur, $transparent){
    -webkit-box-shadow: 0 $v-shadow $blur rgba(0,0,0,$transparent);
       -moz-box-shadow: 0 $v-shadow $blur rgba(0,0,0,$transparent);
            box-shadow: 0 $v-shadow $blur rgba(0,0,0,$transparent);
}
div.v-dropdown-caller{
    display: inline-block;
    &.v-dropdown-caller--full-width{
        display: block;
    }
}
div.v-dropdown-container{
    border: 1px solid #D6D7D7;
    margin: 0;padding: 0;
    display: inline-block;
    position: absolute;top:0;left:0;
    box-sizing: border-box;
    background-color: white;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    @include shadow(3px, 12px, 0.2);
    z-index: 3000;
    &.v-dropdown-embed {
        position: relative;
        @include shadow(1px, 6px, 0.12);
        z-index: 100;
    }
}

//.animate-down-enter-active,
//.animate-up-enter-active {
//    -webkit-transition: opacity 100ms, transform 300ms cubic-bezier(0.23,1,0.32,1);
//    transition: opacity 100ms, transform 300ms cubic-bezier(0.23,1,0.32,1);
//}
//
//.animate-down-leave-active,
//.animate-up-leave-active {
//    -webkit-transition: opacity 100ms;
//    transition: opacity 100ms;
//}
//
//.animate-down-enter,
//.animate-down-leave-to,
//.animate-up-enter,
//.animate-up-leave-to { opacity: 0; }
//
//
//.animate-down-enter { transform: translate3d(0, -20px, 0);-webkit-transform: translate3d(0, -20px, 0); }
//.animate-up-enter { transform: translate3d(0, 20px, 0);-webkit-transform: translate3d(0, 20px, 0); }

$duration: 200ms;
@mixin show-up-animation($start){
    opacity: 0;
    //transform: scale3d(1,0,1);
    //transform-origin: center bottom;
    -webkit-transform: translateY($start) scale(0.95);
            transform: translateY($start) scale(0.95);
}

.animate-down-enter,
.animate-down-leave-to{
    @include show-up-animation(-5px);
}
.animate-up-enter,
.animate-up-leave-to{
    @include show-up-animation(5px);
}
.animate-down-enter-active,
.animate-up-enter-active,
.animate-down-leave-active,
.animate-up-leave-active{
    -webkit-transition: opacity $duration, -webkit-transform $duration;
    transition: opacity $duration, transform $duration;
}
.animate-down-enter-to,
.animate-up-enter-to,
.animate-down-leave,
.animate-up-leave {
    opacity: 1;
    //transform: scale3d(1,1,1);
    //transform-origin: center top;
    transform: none;-webkit-transform: none;
}
